<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <groups>
		  <run>
			  <include name="regression"/>
			  <exclude name = "sanity"/> 	  
			  
		  </run>
	  </groups>
    <classes>
      <class name="Day43.grouping.Login"/>
      <class name="Day43.grouping.Signup"/>
      <class name="Day43.grouping.Payments"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
